.wd-course-status-main {
    margin: 8px;
}

.wd-pub-unpub-div {
    display: flex;
}

.wd-unpub-btn {
    background-color: lightgrey;
}

.wd-other-links {
    text-decoration: none;
    color: red;
}

.wd-non-red-a {
    color: black;
    text-decoration: none;
}

.wd-list-stat-group {
    background-color: lightgray;
}

.wd-coming-up {
    display: flex;
    padding-top: 20px;
}

.wd-cal {
    padding-left: 15px;
}